<!DOCTYPE HTML>
<html>
    <head>
    <script src="https://static.opentok.com/v2/js/opentok.js" charset="utf-8"></script>
    <script charset="utf-8">
      const apiKey = '46043182';
      const sessionId = '1_MX40NjA0MzE4Mn5-MTUxNjQ3MzI0MTU0Mn5XUlBabVJJQjM4eEVHbWVWNzB2TzNWcjd-fg';
      const token = 'T1==cGFydG5lcl9pZD00NjA0MzE4MiZzaWc9YWVjNzk0NDE2MzYxOTI5OTE5MTY2YTJjOGZiYWQwZDAwYTFmNmU5ZjpzZXNzaW9uX2lkPTFfTVg0ME5qQTBNekU0TW41LU1UVXhOalEzTXpJME1UVTBNbjVYVWxCYWJWSkpRak00ZUVWSGJXVldOekIyVHpOV2NqZC1mZyZjcmVhdGVfdGltZT0xNTE2NDczMjY5Jm5vbmNlPTAuNzA5MjI0MDQwMzUyMjc1NCZyb2xlPXB1Ymxpc2hlciZleHBpcmVfdGltZT0xNTE2NDc2ODY3JmluaXRpYWxfbGF5b3V0X2NsYXNzX2xpc3Q9';
      const session = OT.initSession(apiKey, sessionId);
      session.on({
        streamCreated: (event) => {
          session.subscribe(event.stream);
        }
      })
      session.connect(token, (error) => {
        const publisher = OT.initPublisher('publisher');
        session.publish(publisher);
      })
    </script>
  </head>
  <body>
    <div id="publisher"></div>
  </body>
  <menu type="context" id="mymenu">
  <menuitem label="Refresh" onclick="window.location.reload();" icon="ico_reload.png">
  </menuitem>
  <menu label="Share on...">
    <menuitem label="Twitter" icon="ico_twitter.png"
    onclick="window.open('//twitter.com/intent/tweet?text='+window.location.href);">
    </menuitem>
    <menuitem label="Facebook" icon="ico_facebook.png"
    onclick="window.open('//facebook.com/sharer/sharer.php?u='+window.location.href);">
    </menuitem>
  </menu>
  <menuitem label="Email This Page"
  onclick="window.location='mailto:?body='+window.location.href;"></menuitem>
</menu>
</html>