<!DOCTYPE html>
<html lang="en">

<head>
    <title>Host Stream</title>
    <% include ../partials/common-head %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/1.0.0/fetch.min.js" type="text/javascript" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
        <script src="js/util/http.js" type="text/javascript"></script>
        <script src="js/host.js" type="text/javascript"></script>


</head>

<body>

    <div class="card">
        <h1 id="dsName" style="font: 'Georgia';" > </h1>
        <h2 id="dpName" style="font: 'Georgia';" > </h2>
        <p id="dd" style="font: 'Georgia';" > </p>
    </div>

    <div id="credentials" style="display:none;" data="<%= credentials %>"></div>
    <div id="main" class="main-container">
        <div id="videoContainer" class="video-container">
            <div id="hostDivider" class="hidden"></div>
        </div>
    </div>
    <div class="broadcast-controls-container">
        <div class="rtmp-container">
            <span id="rtmpLabel" style="font: 'Arial'; font-size: 26px; font-weight: bold; ">Enter a Stream Name and Name of Pet! </span>
            <span class="hidden error" id="rtmpError">Must enter a name of the stream! </span>
            <span id="rtmpActive" class="hidden active">Your RTMP stream is active!</span>
            <div id="rtmpInputContainer" class="input-container" >
                
                <input id="streamName" type="text" placeholder="StreamName">
                <input id="petName" type="text" placeholder="PetName">
                <textarea id="description" rows="4" cols="40" style="margin-left: auto; margin-right: auto" placeholder="Description" > </textarea>
            </div>
        </div>
        <button onClick="dis()" id="startStop" class="btn-broadcast hidden">Start Broadcast</button>
        <div id="urlContainer" class="url-container hidden">
            <div id="broadcastURL" class="opacity-0 no-show"></div>
            <div id="copyURL"class="copy-link" data-clipboard-target="#broadcastURL">
                <span>Get sharable HLS link</span>
            </div>
            <div id="copyNotice" class="tooltip copy opacity-0">
                <span>Link copied to clipboard!</span>
                <span class="triangle-down">▼</span>
            </div>
        </div>
    </div>



</body>

<script>

function dis() {
    document.getElementById('dsName').innerHTML = document.getElementById('streamName').value;
    document.getElementById('dpName').innerHTML = document.getElementById('petName').value;
    document.getElementById('dd').innerHTML = document.getElementById('description').value;
    localStorage.setItem('streamName', document.getElementById('dsName').innerHTML);
    localStorage.setItem('petName', document.getElementById('dpName').innerHTML);
    localStorage.setItem('description', document.getElementById('dd').innerHTML);

}

</script>

</html>